---
import LocationList from '../components/LocationList'
import Logo from '../components/Logo.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Stations'>
  <div class='h-full flex flex-col gap-4 px-4'>
    <header class='flex flex-col items-center justify-center p-4'>
      <div
        class=`relative w-20 h-20 p-0 m-0 border-2 border-blue-electric border-opacity-50 rounded-full overflow-hidden`
        transition:name='logo'
      >
        <Logo />
      </div>
    </header>
    <main class='flex-1 container mx-auto max-w-lg p-2'>
      <LocationList client:only='react' />
    </main>
  </div>
</Layout>

<script>
  import { getStations } from '../lib/openchargemap'
  document.addEventListener(
    'astro:page-load',
    () => {
      getStations()
    },
    { once: true }
  )
</script>
